.minor-margin {
	margin-top: 1.5em;
}

.alert {
	margin-top: 1.5em;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(255, 120, 120, 0.5);
	padding: 0.8em;
	width: 60%;
	color: rgba(100, 20, 20, 1);
	border: rgba(200, 80, 80, 1) solid 2px;
	border-radius: 15px;
}