.top-margin {
	margin-top: 2em;
}

.bottom-margin {
	margin-bottom: 2em;
}

.left-margin {
	margin-left: 2em;
}

.right-margin {
	margin-top: 2em;
}

.card {
	padding: 1.5em;
	background-color: rgba(0, 0, 0, 0.3);
	border: 2px solid rgba(0, 0, 0, 0.5);
	color: rgba(0, 0, 0, 0.7);
	border-radius: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}

.card > .title {
	font-weight: 200;
}
.card > .content {
	padding-left: 1.5em;
}

.card > .separator {
	border: 2px solid rgba(0, 0, 0, 0.5);
}