.pure-g {
	margin-top: 3em;
}

.pure-form {
	border: 2px solid #a0a0a0;
	border-radius: 15px;
	padding-top: 0;
}

.form-header {
	margin-bottom: 1.5em;
	background-color: #ccc;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
}

.form-content {
	padding: 0.6em;
}

.pure-form-message {
	text-align: center;
}

.form-header > h1 {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	font-size: 3.5em;
	padding: 0.3em;
	color: #fff;
	margin: 0;
	text-align: center;
}

.form-footer {
	margin-top: 1.5em;
	background-color: #ccc;
	border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;
}

.form-footer > * {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	padding: 0.3em;
	color: #fff;
	margin: 0;
	text-align: center;
}