.search {
	width: 100%;
	margin-bottom: 1em;
}

.search > div > * {
	width: 100%;
}

.search > div.pure-u-1 {
	text-align: center;
	margin-top: 0.5em;
}

.contact-card {
	width: 100%;
	margin-bottom: 0.6em;
	background-color: rgba(255, 255, 255, 0.3);
	border: 2px solid rgba(255, 255, 255, 0.5);
}

div.pure-u-21-24 > h1.title > a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
}